<br>
<form action="/c" method="get">
  <div class="mb-3">
    <label class="form-label">Author</label>
    <input type="text" class="form-control" name="author"> 
  </div>
  <div class="mb-3">
    <label class="form-label">Quote</label>
    <input type="text" class="form-control" name="value"> 
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>